$gray: #f4f6f8;
$darkgrey: #8b8b8b ;
$lightgray: #f1f1f1;
$black: #000000;
$white: #ffffff;
$orange: #FA9052;
$orange-active: #bd6e40;
$yellow: #D3FA32;
$red: #FA214E;
$red-active: #d01f43;
$blue: #64c4ed;
$blue-active: #33829e;
$violate: #A814FA;
$darkblue: #4B48FA;
$lightgreen: #78FA64;
$pink: #FA7AD3;

$tile-border-radius: 7px;
$btn-border-radius: 10px;